/* Navbar */
.navbar-brand {
    font-family: Viga;
    font-size: 32px;
}

.tombol {
    text-transform: uppercase;
    border-radius: 40px;
}

.jumbotronhome {
    background-image: url("/images/bg/Jumbotron.png");
    background-size: cover;
    height: 600px;
}

.jumbotronhome .display-4 {
    color: #ffc178;
    text-align: left;
    font-weight: 200;
    margin-top: 120px;
}
.jumbotronhome .display-4 span {
    font-weight: 500;
}

.info-panelbiodata span {
    font-weight: 600;
    font-weight: bold;
    font-style: italic;
}
.info-panelbiodata p {
    color: black;
    text-align: left;
    font-weight: 200;
    font-size: 25px;
    text-align: center;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
}
.jumbotronuser {
    background-image: url("/images/bg/bgu.png");
    background-size: cover;
    height: 400px;
    border-bottom-right-radius: 50px;
}

.info-panelfoto {
    padding: 20px;
    text-align: center;
    margin-top: -150px;
}
.info-panelfoto img {
    height: 200px;
    width: 200px;
    border-radius: 150px;
}
.viewall a {
    color: #ffc178;
    text-transform: uppercase;
    text-align: center;
}
.modal-footer button {
    border-radius: 40px;
    font-family: Viga;
    text-transform: uppercase;
}

.info-panelbiodata {
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    background-color: white;
    padding: 20px;
}

.info-panelbiodata img {
    height: 80px;
    width: 80px;
}
.info-panel {
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    background-color: white;
    padding: 20px;
    text-align: center;
    margin-top: -110px;
}
.info-panel img {
    height: 80px;
    width: 80px;
}
.info-panel a {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
    padding-top: 10px;
}

.info-panelview {
    font-size: 16px;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 15px;
}
.card {
    border: none;
}

.info-panelviewall {
    font-size: 16px;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);
    background-color: white;
}
.info-panelview button {
    color: black;
    text-transform: uppercase;
    text-align: right;
    margin: 5px, 5px, 1px, 5px;
    border-radius: 20px;
}
.kartubox {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    border: 1px;
    margin-top: 10px;
    margin-left: 45px;
    margin-right: 45px;
}
.warnaku {
    background-color: #ffc178;
}
.kotakku {
    font-size: 40px;
}
.kotakku span {
    font-size: 25px;
    margin-bottom: 20px;
}
.sidebar a,
.dropdown-btn {
    border: none;
    background: none;
    color: black;
    display: block;
    width: 100%;
    text-align: left;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
    display: none;
}
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    border-radius: 10px; /* Rounded corners */
    font-size: 14px; /* Increase font size */
    width: 40px;
    height: 40px;
}

#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}
/* chatbot */
::-webkit-scrollbar {
    width: 5px;
    border-radius: 25px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #ddd;
}
::-webkit-scrollbar-thumb:hover {
    background: #ccc;
}

.wrapper {
    width: 100%;
    background: #fff;
    border-radius: 5px;
    border: 1px solid lightgrey;
    border-top: 0px;
}
.wrapper .title {
    background: #075e54;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    text-align: center;
    border-bottom: 1px solid #075e54;
    border-radius: 5px 5px 0 0;
}
.wrapper .form {
    padding: 20px 15px;
    min-height: 400px;
    max-height: 400px;
    overflow-y: auto;
}
.wrapper .form .inbox {
    width: 100%;
    display: flex;
    align-items: baseline;
}
.wrapper .form .user-inbox {
    justify-content: flex-end;
    margin: 13px 0;
}
.wrapper .form .inbox .icon {
    height: 40px;
    width: 40px;
    text-align: center;
    background: #075e54;
    color: #fff;
    line-height: 40px;
    border-radius: 50%;
    font-size: 18px;
}
.wrapper .form .inbox .msg-header {
    max-width: 53%;
    margin-left: 10px;
}

.form .user-inbox .msg-header p {
    color: black;
    background: #e1ffc7;
    border-radius: 10px;
    padding: 8px 10px;
    font-size: 14px;
}

.form .bot-inbox .msg-header p {
    color: black;
    background: #efefef;
    border-radius: 10px;
    padding: 8px 10px;
    font-size: 14px;
}
.wrapper .typing-field {
    display: flex;
    height: 60px;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    background: #efefef;
    border-top: 1px solid #d9d9d9;
    border-radius: 0 0 5px 5px;
}

.wrapper .typing-field .input-data {
    height: 40px;
    width: 90%;
    position: relative;
}
.wrapper .typing-field .input-data input {
    height: 100%;
    width: 100%;
    outline: none;
    padding: 0 80px 0 15px;
    border: 1px solid transparent;
    border-radius: 5px;
    font-size: 15px;
    background: #fff;
    transition: all 0.3s ease;
}
.typing-field .input-data input:focus {
    border-color: rgba(0, 123, 255, 0.8);
}

.wrapper .typing-field .input-data input:valid ~ button {
    opacity: 1;
    pointer-events: auto;
}
.wrapper .typing-field .input-data button {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    height: 30px;
    width: 100px;
    color: #fff;
    background: #075e54;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
}

/* Desktop Version */
@media (min-width: 992px) {
    .navku {
        text-transform: uppercase;
    }
    .navkutombol {
        text-transform: capitalize;
        margin-right: 30px;
        margin-left: 30px;
    }

    .navku:hover::after {
        content: "";
        display: block;
        border-bottom: 3px solid #0b63dc;
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
    }
    .jumbotron {
        margin-top: -75px;
    }

    .dropdownku {
        text-transform: uppercase;
        margin-right: 30px;
    }

    .gambar {
        height: 175px;
        width: 100%;
    }
}
